<html>
    <head>
        <title>Handle POST requests with Flask</title>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div id="container">
            <div class="title">
                <h1>Coinworth.</h1>
            </div>
              <div id="graph_div" style = "text-align:center">
                <iframe width="1000" height="400" frameborder="0" scrolling="no" src="https://plot.ly/~lukeanders70/7.embed"></iframe>
              </div>

            <div id="content">
                <form method="post" action="{{ url_for('hello') }}">

                  <label for="yourname">Please enter your name:</label>
                  <input type="text" name="yourname" /><br />

                  <label for="youremail">Please enter your email:</label>
                  <input type="text" name="youremail" /><br />

                  <label for="btc_amount">Please enter your BTC amount:</label>
                  <input type="number" name="btc_amount" /><br />

                  <label for="usd_val">Please specify a USD value:</label>
                  <input type="number" name="usd_val" /><br />

                  <label for="operator">Notify me when my BTC:</label>
                  <br>
                  <input type="radio" name="operator" value="0" checked> is worth at least the specified USD value.
                  <br>
                  <input type="radio" name="operator" value="1"> is worth below the specified USD value.
                  <br>
                  <input type="radio" name="operator" value="2"> has grown 5% in value.
                  <br>
                  <input type="radio" name="operator" value="3"> has dropped 5% in value.
                  <br>
                  
                  <input type="submit" />
                </form>
            </div>

        </div>
    </body>
</html>
 